<!DOCTYPE html>
<html>
<head>
    <title>Gráfico ao Vivo</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
</head>
<body>
    <h1>Gráfico ao Vivo</h1>
    <div id="live-chart"></div>

    <div>
        <a href="/">Voltar</a>
    </div>

    <script>
        var dataBuffer = [];
        var timeBuffer = [];
        var bufferSize = 5000;  // Tamanho máximo do buffer
        var updateInterval = 1;  // Intervalo de atualização em milissegundos

        // Função para atualizar o gráfico
        function updateChart() {
            // Limitar o tamanho dos buffers
            if (timeBuffer.length > bufferSize) {
                timeBuffer = timeBuffer.slice(timeBuffer.length - bufferSize);
                dataBuffer = dataBuffer.slice(dataBuffer.length - bufferSize);
            }

            Plotly.newPlot('live-chart', [{
                x: timeBuffer,
                y: dataBuffer,
                yaxis: {range: [0, 5]},
                type: 'line',
                borderColor: 'green',
            }], {
                title: 'Gráfico ao Vivo',
                xaxis: {
                    title: 'Tempo'
                },
                yaxis: {
                    title: 'Volt'
                }
            });
        }

        // Função para buscar dados do servidor
        function fetchData() {
            fetch('/data')
                .then(response => response.json())
                .then(data => {
                    timeBuffer = timeBuffer.concat(data.time);
                    dataBuffer = dataBuffer.concat(data.data);

                    // Atualizar o gráfico
                    updateChart();
                });
        }

        // Atualize o gráfico periodicamente
        setInterval(fetchData, updateInterval);
    </script>
</body>
</html>
